body {
  margin: 0;
  font-family:Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url('./Components/styles/galaxy-star.png');
  background-position: center;
  background-size:cover;
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

